<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h2>{{ name || ' Rating Detail' }}</h2>
        <div class="pull-right">
            <button class="btn btn-sm btn-primary" style="width:100px" (click)="ratingEdit(rating)"> Edit</button>
            <button class="btn btn-sm btn-info" style="width:100px" (click)="goBack()"><i class="fa fa-reply"></i></button>
        </div>
      </div>
      <div class="card-body">

        <br>
        <table class="table table-responsive-sm table-hover table-outline mb-0">
          <thead class="thead-light">
            <tr><th>Field</th><th>Value</th></tr>
          </thead>
          <tbody>            
            <tr><th>Star</th><td>{{ star || '' }}</td></tr>
            <tr><th>Name</th><td>{{ surname || '' }}</td></tr>
            <tr><th>Subject</th><td>{{ subject || '' }}</td></tr>
            <tr><th>Phone No.</th><td>{{ phone_personal || '' }}</td></tr>
            <tr><th>Review</th><td>{{ review || '' }}</td></tr>
          </tbody>
        </table>
      </div>
    </div>
  </div><!--/.col-->
</div><!--/.row-->