<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h2>{{ name || ' PML WayBill Detail' }}</h2>
        <div class="pull-right">
            <button class="btn btn-sm btn-primary" style="width:100px" (click)="pmlwaybillEdit(pmlwaybill)" title="Edit"> Edit</button>
            <button class="btn btn-sm btn-info" style="width:100px" (click)="goBack()"><i class="fa fa-reply"></i></button>
        </div>
      </div>
      <div class="card-body">

        <br>
        <table class="table table-responsive-sm table-hover table-outline mb-0">
          <thead class="thead-light">
            <tr><th>Field</th><th>Value</th></tr>
          </thead>
          <tbody>            
            <tr><th>Transaction Code </th><td>{{ transaction_code || '' }}</td></tr>
            <tr><th>Terminal ID</th><td>{{ terminal_id.name || '' }}</td></tr>
            <tr><th>Driver ID</th><td>{{ driver_id || '' }}</td></tr>
            <tr><th>vehicle ID</th><td>{{ vehicle_id || '' }}</td></tr>
            <tr><th> Total Charge </th><td>{{ total_charge || '' }}</td></tr>
            <tr><th>Departure Date</th><td>{{ departure_date | date }}</td></tr>
            <tr><th>Authorized Date</th><td>{{ authorized_date | date}}</td></tr>
          </tbody>
        </table>
      </div>
    </div>
  </div><!--/.col-->
</div><!--/.row-->